.container{
    display: flex;
    width: 100%;
}
input[type="checkbox"]
{
  display: none;
}

.books-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
}

.center {
    text-align: center;
    height: auto; 
    margin: 15px 0px 15px 0px;
    padding: 30px;
    display: flex;
}

.paginator
{
    width: 100%;
    float: left;
}


@media (max-width: 768px) 
{
  

    .books-container {
   
        padding: 1px;
    }

    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .categories-container {
        left: 0 !important;
        z-index: 1 !important;
        
  
      }
      #menu__toggle:checked ~ .menu__btn {
        position:fixed;
        z-index: 2 !important;
        
      }
      .menu__btn {
        position:absolute;
        top: 80px;
        left: 10px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        
        
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .categories-container {
        display: block;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
 
        padding-top: 2%;

        list-style: none;
        background-color:#fcfeff;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .center {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
        
        
            margin: 0px 0px 0px 0px;
            padding: 0px;
           
       
      }
      .center:hover {
        background-color: #CFD8DC;
      }
}